# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv / env files
venv/
.env
/.env.*
!/.env.example

# Distribution / packaging
.build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
